.cproject
.project
.settings/
Makefile
Makefile.in
aclocal.m4
compile
config.log
config.status
configure
depcomp
install-sh
missing
autom4te.cache/
Debug/
src/.deps/
src/Makefile
src/Makefile.in
src/config.h*
src/snake
src/*.o
src/stamp-h1
err.txt
log.txt
